
 p    {color: #E7EAAD;
      border: 2px solid powderblue;
      padding: 20px;
      margin: auto;
      width:90%;
      font-family:Elephant;
      font-size: 18px;
      }
 body {
      background:url(../Images/background.jpg); 
      <!-- background-position: center;--> 
      background-repeat: no-repeat; 
       background-size: cover;
 }
     h1 {
         color: #ECF4D3;
     }
     h3 {
         color: #CFCED9;
     }
